#contents {
    position: relative;
    width: 1180px;
    text-align: center;
}
.lecList {
    margin: 0 auto;
    width: 960px;
    min-height: 500px;
}
.lecList>h2 {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2em;
    color: coral;
}
.lecListRow {
    text-align: left;
    display: flex;
    border-top: 1px solid rgb(179, 179, 179);
    padding: 15px 0;
    cursor:pointer;
}
.lecListRow:hover {
    background-color: rgb(236, 236, 236);
}
.lecListRow:hover .image_container>img {
    transform: scale(1.1);
    transition: 0.3s;
}
.lecListRow:last-child {
    border-bottom: 1px solid rgb(179, 179, 179);
}
.image_container {
    width: 28%;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
}
.image_container>img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.lecListInfo {
    padding: 0px 15px;
    font-size: 1.1em;
    height: 200px;
    width: 72%;
}
.lecListInfo>p {
    padding: 10px 0;
    
}
.lec_time>span {
    font-weight: bold;
}
.lec_pay {
    text-align: left;
    padding: 10px 0;
}
.lec_pay_state {
    color: cornflowerblue;
    text-decoration: underline;
    text-underline-position: under;
    font-weight: bold;
}
.lec_pay_pay {
    font-weight: bold;
    font-size: 1.2em;
    float: right;
}
.lec_pay>span>em {
    font-style: normal;
    color: black;
    font-weight: normal;
}
.lec_open {
    color: coral;
}
.lec_close {
    text-decoration: line-through;
    color: #ccc;
}